button {
	margin-top: 1em;
	padding: 10px;
	background-color: #05A48D;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 90%;
}

#columnCheckboxes {
	text-align: left !important;
}

/* Basic CSS styles */
#logAndSearch {
    font-family: Arial, sans-serif;
    font-size: 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 15%; /* Adjust this to change the width of the sidebar */
    height: 100%;
    text-align: center; /* Align text to the left */
    margin: 0;
    box-sizing: border-box;
    overflow: auto;
    background-color: #61CDA8;
    padding: 1em;
    line-height: 0.5;
	z-index: 1;
}

#getDataDevice {
    font-family: Arial, sans-serif;
    font-size: 16px;
    position: fixed;
    top: 0;
    left: 15%; /* Adjust this to match the width of the sidebar */
    width: 85%; /* Adjust this to match the width of the sidebar */
    height: 100%;
    text-align: center;
    margin: 0;
    padding-top: 1em;
    box-sizing: border-box;
    overflow: auto;
    background-color: #ffffff;
	z-index: 1;
}

/* Style for the table */
table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}

/* Style for the table headers and cells */
th, td {
    border: 1px solid #333333;
    padding: 10px;
    text-align: right;
}

/* Style for the table rows */
tr:nth-child(even) {
    background-color: #cccccc;
}

/* Style for the form inputs */
input[type=text], input[type=password], input[type=date], select {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    display: block; /* Make the inputs display in a column */
    width: 90%; /* Adjust this to change the width of the inputs */
    margin-bottom: 1em; /* Add some space below each input */
}

/* Style for the form labels and buttons */
label, button {
    font-weight: bold;
    display: block; /* Make the labels and buttons display in a column */
    margin-bottom: 1em; /* Add some space below each label and button */
}

/* Style for the table headers */
th {
    text-align: center;
    font-weight: bold;
    background-color: #333;
    color: #fff;
}

/* Style for the first column */
td:first-child {
    min-width: 85px; /* Adjust this value to fit the size of your first string */
}
